<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.96630029530-s526g77dkmtmpd6jn4v2g6pu10fl4o8d</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>96630029530-s526g77dkmtmpd6jn4v2g6pu10fl4o8d.apps.googleusercontent.com</string>
</dict>
</plist>
